*:focus {outline: none;}
body {
  padding: 0;
  margin: 0;
  background-color: beige;
}

.header {
  background-color: rgb(50, 50, 200);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  box-shadow: 2px 3px 6px black;
}
.header span {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 26px;
  position : absolute;
  margin-left:30%;
  margin-top: 12px;
}
h2 {
  text-align: center;
}
.inputfield {
  width: 90%;
  height: auto;
  margin-left:5%;
  border: 1px solid black;
  box-shadow: 1px 3px 4px grey;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#bio {
  background-color: rgb(100, 100, 255);
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#label {
  font-weight: bold;
  margin-left: 10px;
  
}
.inputfield input {
  margin-left: 10px;
  width: 70%;
  height: 30px;
  box-shadow: 1px 1px 3px grey;
  border: 1px solid black;
  border-left: 6px double rgb(10, 10, 80);
}

#submit {
  background-color: lightgreen;
  padding: 5px;
  box-shadow: 2px 2px 6px grey;
  border: none;
  margin-top: 20px;
  margin-left: 10px;
  width: 50%;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
#submit:hover {
  box-shadow: none;
  background-color: grey;
}

#biopage {
  display: none;
}

#bio_text {
  text-align: center;
  padding: 5px;
}

#reload {
  width: 60%;
  height: 40px;
  background-color: tomato;
  border: none;
  box-shadow: 2px 2px 6px grey;
  margin-left: 25%;
  display: none;
}

@media only screen and (max-width: 600px) {
  .header span {
    font-size: 20px;
    margin-left: 25%;
  }
}
